@tailwind base;
@tailwind components;
@tailwind utilities;

/* split js */
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    z-index: 1;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.split-vertical {
    /* Fill screen, minus the height of the header */
    height: calc(100vh - 140px);
}

.split-horizontal {
    display: flex;
    flex-direction: row;
}

